:root {
  --primary: #ff1ead;
  --secondary: #1effc3;
  --background: #cec5c5;
  --card-bg: #000000;
}

ion-header {
  background: var(--card-bg);
  color: white;
}

ion-toolbar {
  --background: var(--card-bg);
  color: white;
}

ion-card {
  margin: 20px;
  background: rgba(7, 7, 7, 0.2);
  border-radius: 16px;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

ion-card-header {
  padding: 16px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

ion-card-title {
  color: white;
  font-size: 1.1rem;
  font-weight: bold;
}

ion-card-content {
  padding: 16px 0;
}

ion-item {
  --background: transparent;
  --color: white;
  --padding-start: 0;
  --inner-padding-end: 0;
  
  ion-label {
    color: white;
    margin: 16px 0;
    font-weight: 500;
  }

  ion-toggle {
    --handle-background: var(--primary);
    --handle-background-checked: var(--secondary);
  }

  ion-select {
    color: white;
    --padding-start: 0;
    
    &::part(icon) {
      color: var(--primary);
    }
  }

  ion-text {
    color: var(--secondary);
  }
}

ion-button {
  --border-color: var(--primary);
  color: white;
  margin: 8px 0;

  &[color="danger"] {
    --border-color: #ff4444;
    color: #ff4444;
  }

  ion-icon {
    margin-right: 8px;
  }
}