<ion-header>
  <ion-toolbar color="light" style="margin-bottom: 20px; padding-top: 20px; padding-bottom: 20px;">
    <ion-title style="font-size: 1.5rem; font-weight: bold;">Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card style="margin: 20px; background: rgba(7, 7, 7, 0.2); border-radius: 16px; box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5); backdrop-filter: blur(5px); border: 1px solid rgba(255, 255, 255, 0.3);">
    <ion-card-header>
      <ion-card-title style="font-size: 1.1rem; font-weight: bold;">Appearance</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full" style="background: transparent; --border-color: rgba(255, 255, 255, 0.2);">
        <ion-label>Dark Mode</ion-label>
        <ion-toggle slot="end" [(ngModel)]="darkMode" (ionChange)="onDarkModeChange()"></ion-toggle>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin: 20px; background: rgba(7, 7, 7, 0.2); border-radius: 16px; box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5); backdrop-filter: blur(5px); border: 1px solid rgba(255, 255, 255, 0.3);">
    <ion-card-header>
      <ion-card-title style="font-size: 1.1rem; font-weight: bold;">Language</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item style="background: transparent;">
        <ion-label>Select Language</ion-label>
        <ion-select [(ngModel)]="selectedLanguage" (ionChange)="onLanguageChange()" interface="alert">
          <ion-select-option value="en">English</ion-select-option>
          <ion-select-option value="es">Español</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin: 20px; background: rgba(7, 7, 7, 0.2); border-radius: 16px; box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5); backdrop-filter: blur(5px); border: 1px solid rgba(255, 255, 255, 0.3);">
    <ion-card-header>
      <ion-card-title style="font-size: 1.1rem; font-weight: bold;">Favorites</ion-card-title>
    </ion-card-header>
    <ion-card-content style="padding-top: 20px;">
      <ion-button expand="block" color="danger" fill="outline" (click)="clearFavorites()">
        <ion-icon name="trash" slot="start"></ion-icon>
        Clear Favorites
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card style="margin: 20px; background: rgba(7, 7, 7, 0.2); border-radius: 16px; box-shadow: 0 2px 20px rgba(0, 0, 0, 0.5); backdrop-filter: blur(5px); border: 1px solid rgba(255, 255, 255, 0.3);">
    <ion-card-header>
      <ion-card-title style="font-size: 1.1rem; font-weight: bold;">About</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-item lines="full" style="background: transparent; --border-color: rgba(255, 255, 255, 0.2);">
        <ion-label>App Name</ion-label>
        <ion-text slot="end">ComicAppVerse</ion-text>
      </ion-item>
      
      <ion-item style="background: transparent;">
        <ion-label>Version</ion-label>
        <ion-text slot="end">1.0.0</ion-text>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
